

# Ensure that you have the right Conda Environment Running on your local machine

# conda create --name fast python = 3.8 
# conda activate fast 
# pip install -r requirements.txt 
# python main.py 


fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic[email]
python-dotenv
